<%= form_for @problem  do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name%><br />
    <%= f.text_field :name%>
  </div>
  <div class="field">
    <%= f.label :statement %><br />
    <%= f.text_area :statement %>
  </div>
  <%= fields_for @solution do |s| %>
    <div class="field">
      <%= s.label :content, "Solution" %><br />
      <%= s.text_area :content %>
    </div>
  <% end%> 
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

