<h2>Problem <%= problem.name %></h2><%= link_to "Show", problem_path(problem) %> | <%= link_to "Edit", edit_problem_path(problem)  %> | Version <%= problem.version %> <% if problem.version > 1 %>
|  <%= link_to "prev. version", problem_path(problem, :version => problem.version - 1) %> 
<% end%>
<p><%= problem.statement %></p>
<h2>Solution:</h2>
<p><%= problem.solutions.first.content %></p>
